


/*Header start*/








li{
	list-style: none;
}

li a{
	text-decoration: none;
	
}

  




.lefta {

    
    float: left;
    height: 100vh;
        background-color:rgb(16, 16, 37);    }

.leftnav{
	width: 250px;
	padding-left: 25px;
    padding-top: 20px;
}
.leftnav li{
	float: left;
	padding: 10px 25px ;
	
	font-family: montserrat;
	transition-timing-function: ease;
	transition-duration: 0.3s;
}

.leftnav li a{ 
	display: block;
	padding: 2px 10px;
	color: white;
	font-weight: bolder;
	font-size: 18px;
}

.leftnav li:hover{
	
	transition-timing-function: ease;
	transition-duration: 0.2s;
}

.leftnav li:hover a{
	color: white;
	font-size: 18px;
	border-bottom: thin solid;
	border-bottom-color: white;
	transition-timing-function: ease;
	transition-duration: 0.5s;
	
}


.righta {
    margin-top:50px;
    width:1000px;
    float: left;
    height: 87vh;
    background-color: rgb(233, 245, 233);
}


/*footer end*/

/* add product start*/

  
  
  
 









